@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 rounded-full;
}

@layer components {
  .btn-box {
    @apply bg-orange-500 text-white w-8 h-8 flex items-center justify-center rounded ml-1 mr-1
  }
  .footer-list{
    @apply w-10 h-8 bg-white rounded mr-5
  }
}